.container {
  background: radial-gradient(rgb(79, 80, 80), rgb(21, 23, 22));
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container * {
  color: white;
}

.container > h1 {
  font-size: 36px;
  margin: 0;
  margin: 24px 0px;
}

.gamemode-options-container {
  display: flex;
  flex-direction: column;

}

@media screen and (min-width: 750px) {
  .container {
    gap: 64px;
  }

  .container > h1 {
    margin: 0;
    font-size: 60px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }

  .gamemode-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    gap: 5%;
  }
}

