@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
  --default-font-face: 'Calistoga', serif;
}

body, html {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--default-font-face);
}

.circle {
  width: 40px;
  height: 40px;
  border: 6px solid yellow;
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
  .circle {
    width: 60px;
    height: 60px;
    border: 6px solid yellow;
    border-radius: 50%;
  }
}


@media screen and (min-width: 1200px) {
  .circle {
    width: 80px;
    height: 80px;
  }
}