.options-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid white;
  z-index: 1;
}

.left {
  transform: translate(-200px, -20px);
}

.right {
  transform: translate(40px, -20px);
}

@media screen and (min-width: 600px) {
  .left {
    transform: translate(-190px, -20px);
  }

  .right {
    transform: translate(40px, -20px);
  }
}

@media screen and (min-width: 1200px) {
  .left {
    transform: translate(-200px, -40px);
  }

  .right {
    transform: translate(60px, -40px);
  }
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
}

.option:hover {
  cursor: pointer;
}

.option:not(:last-child) {
  border-bottom: 1px solid white;
}

.image-container {
  height: 40px;
  width: 40px;
}

.option img {
  object-fit: contain;
}

.option p {
  margin: 0;
  color: white;
}