.gamemode-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  border: 5px solid gray;
}

.gamemode-option:nth-of-type(n+1){
  margin-bottom: 24px;
}

.gamemode-option:hover {
  cursor: pointer;
}

.gamemode-option img {
  display: inline-block;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.gamemode-option p {
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  width: 100%;
  text-align: center;
  padding: 6px 0px;
  background-color: rgb(0, 0, 0, 0.6);
}

@media screen and (min-width: 750px){ 
  .gamemode-option {
    width: 30%;
    margin: 0 !important;
  }
}